body{
    --twitter-color: #0565be;
    --twitter-background: #e6ecf0;
}

.app{
    margin-top: 70px;
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
