.Google-Login{
    margin-bottom: 30px;
}
.my-facebook-button-class{
    color: white;
    background-color: #3b5998;
    align-items: center;
    text-align: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 320px !important;
    height:45px !important;
}